body {
    font-family: Arial, Helvetica, sans-serif;
}
  
.container {
    display: flex;
    gap: 8px;
}
  
.json, .csv {
    width: 50%;
}
  
textarea {
    width: 90%;
    height: 560px;
    padding: 25px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: #49fc03;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0.6, 0.8);
}

.bConvert {
    cursor: pointer;

}